{% extends "base.html" %}

{% block title %}Posts{% endblock title %}

{% block content %}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
{% for article in object_list %}
    <div class="col">
        <div class="card h-100">
            {% if article.photo %}
                <img class="card-img-top" src="{{ article.photo.url }}" alt="{{ article.title }}">
            {% endif %}
            <div class="card-header">
                <a href="{% url "article_detail" article.pk %}"><h2 class="h5 mb-0">{{ article.title }}</h2></a>
            </div>
            <div class="card-body">
                {{ article.summary }}... <a href="{% url "article_detail" article.pk %}">In detail</a>
            </div>
            <div class="card-footer text-muted">
                <span>author {{ article.author | title }} - {{ article.date }}</span>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock content %}